.container {
  text-align: center;
}

.mapBox {
  display: flex;
  gap: 10px;
  position: relative;
}

.left-container {
  width: 300px;
  position: absolute;
  left: 0;
  top: 70px;
  z-index: 9999;
  background: #fff;
  height: calc(100vh - 140px);
  padding: 20px;
}

.left-container ul {
  padding: 0;
  margin: 0;
  height: calc(100vh - 240px);
  overflow-y: auto;
  background: #fff;
}

.left-container ul li {
  list-style-type: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.left-container ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #333;
  padding: 10px;
  background-color: #e7e7e7;
  display: block;
  border-radius: 10px;
  cursor: pointer;
  text-transform: capitalize;
}

.left-container ul li a:hover,
.left-container ul li a.active {
  background-color: #f28729;
  color: #fff;
  cursor: pointer;
}

.right-container {
  width: 100%;
}

.leaflet-container {
  height: calc(100vh - 100px);
}

.popUpMarker {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.popUpMarker .imgSection {
  height: 150px;
  width: 250px;
  background: #e7e7e7;
}

.popUpMarker .imgSection img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.tooltipText {
  text-align: left;
}

.tooltipText p {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  margin: 0;
}

.leaflet-popup-content {
  margin: 0 10px !important;
  padding: 15px 0;
  width: 140px !important;
}

.leaflet-popup-content p {
  margin: 0 !important;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header .searchbar {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #a4a4a4;
  width: 450px;
  font-size: 16px;
  outline: none;
}

.header-section {
  position: absolute;
  top: 80px;
  left: 350px;
  z-index: 999;
}

.header-section ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.header-section ul li {
  list-style-type: none;
  padding: 8px 15px;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
}

.header-section ul li label {
  font-size: 18px;
  line-height: 26px;
  cursor: pointer;
}

/* .header-section ul li input {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100%;
  top: 0;
  cursor: pointer;
  opacity: 0;
  background: #fff;
} */

.assetData {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.assetData .imgSection {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #f28729;
  display: flex;
  align-items: center;
  justify-content: center;
}

.assetData .imgSection img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.assetData p {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.leaflet-tooltip-top {
  border-radius: 15px !important;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4) !important;
}
